.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 6vmin;
  height: 6vmin;
  margin: 0.5em;
  border-radius: 50%;
  border: 6px solid rgb(219, 250, 210);
  border-color: rgb(219, 250, 210) transparent rgb(219, 250, 210) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
