@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: whitesmoke;
}

#root {
  height: 100%;
  width: 100%;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox {
  display: flex;
}

button {
  height: 40%;
}

#githubButton {
  position: absolute;
  bottom: 2%;
  right: 1%;
  height: 10%;
  width: 10%;
  background-color: aquamarine;
  font-size: 2vmin;
  border-radius: 1em;
}

.homeSearch {
  width: 110%;
}

.homeSearchInputs {
  height: 5vmin;
}

.homeSearch form {
  display: flex;
  justify-content: space-around;
}

.filler {
  height: 30%;
}

.mainSearch {
  width: 80%;
}

.mainSearchInputs {
  height: 3vmin;
}

.mainSearch form {
  display: flex;
  justify-content: space-around;
}

.home {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 40%;
  width: 50%;
}

.title-and-search {
  color: lightgoldenrodyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
}

.main-left {
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-right {
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.basic-info {
  height: 15%;
  width: 100%;
}

.basic-info-left {
  height: 100%;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
}

.basic-info-right {
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.profile-picture-and-summoner-level {
  height: 70%;
  width: 40%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.summoner-level {
  height: 35%;
  width: 35%;
  background-color: white;
  opacity: 0.5;
  text-align: center;
  font-weight: bold;
  position: absolute;
  padding: 0.3em;
  bottom: 0%;
  z-index: 10;
  font-size: 1.8vmin;
  border: 1px solid black;
  border-radius: 50%;
}

.summoner-name {
  font-size: 5vmin;
  color: rgb(219, 250, 210);
}

.allGamesStats {
  height: 39%;
  width: 98%;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  font-size: 2vmin;
  background-color: rgba(68, 156, 125, 0.8);
}

.allGamesStats-left {
  height: 100%;
  width: 55%;
  flex-direction: column;
}

.allGamesStats-right {
  height: 100%;
  width: 45%;
  align-items: center;
  flex-direction: column;
}

.highlights-main {
  height: 95%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.highlightsCard {
  height: 19%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-progressionStats {
  height: 44%;
  width: 98%;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.5em;
  background-color: rgba(104, 179, 126, 0.8);
}

.main-search {
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.statsHeader {
  margin: 0;
}

.progressionStats {
  height: 100%;
  width: 32%;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  font-size: 1.7vmin;
}

.highlightsChampion {
  height: 85%;
}

.main-matchHistory {
  height: 89.5%;
  width: 100%;
  border: 1px solid black;
  border-radius: 1em;
  padding-top: 0.5em;
  flex-direction: column;
  background-color: rgba(227, 249, 215, 0.9);
}

.matchHistoryHeader {
  height: 5%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.matchHistoryHeaderRight {
  width: 30%;
  justify-content: space-around;
}

.matchHistoryCards {
  height: 95%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.matchHistoryCardChampion {
  height: 80%;
  width: 10%;
}

.matchHistoryCard1Player,
.matchHistoryCard10Players {
  width: 98%;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}

.matchHistoryCard1Player {
  min-width: 0;
  min-height: 0;
  max-height: 18%;
  font-size: 1.3vmin;
}

.matchHistoryCard10Players {
  font-size: 1.5vmin;
}

.items-and-trinket {
  height: 100%;
  width: 20%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.items {
  height: 75%;
  width: 80%;
  flex-direction: column;
}

.itemsTopRow {
  height: 50%;
  width: 100%;
}

.itemsBottomRow {
  height: 50%;
  width: 100%;
}

.trinket {
  height: 40%;
  width: 20%;
}

.matchHistoryCardItem {
  height: 100%;
}

.matchHistoryCardStats {
  width: 50%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.matchHistoryCard10Players-header {
  justify-content: center;
}

.tenPlayersStats {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: right;
}

.tenPlayersChampion {
  height: 80%;
  width: 20%;
}

.matchHistoryCard10Players-left {
  width: 50%;
  flex-direction: column;
}

.matchHistoryCard10Players-right {
  width: 50%;
  flex-direction: column;
}

.tenPlayersCard {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.tenPlayersCardName {
  width: 30%;
  color: darkorange;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.pieChart {
  max-height: 80%;
  max-width: 50%;
}

.backButton {
  height: 20%;
}
